@import "tailwindcss";

:root {
  --font-sans: "Poppins", sans-serif;
  --primary: #fe8216;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

.primary-font {
  color: #fe8216;
}

.primary-bg {
  background-color: #fe8216;
}

.primary-border {
  border: #fe8216;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  scrollbar-width: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp ease-out forwards;
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;
}

.toggle-switch input {
  display: none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .toggle-slider {
  background-color: var(--primary);
}

input:checked + .toggle-slider:before {
  transform: translateX(20px);
}
