@import "tailwindcss";

:root {
  --font-sans: "Poppins", sans-serif;
  --primary: #fe8216;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

.primary-font {
  color: #fe8216;
}

.primary-bg {
  background-color: #fe8216;
}

.primary-border {
  border: #fe8216;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  scrollbar-width: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp ease-out forwards;
}
